
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "Soyuz Grotesk Bold";
    src: url("/Fonts/grotesk/grotesk.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Vetrino";
    src: url("/Fonts/Vetrino/Vetrino.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("Fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

:root {
    --main-color: #e91e8036;
    --secondary-color: #ff40ff42;
    --text-color: #333;
    --bg-color: #ae348b28;
}

body {
    overflow-x: hidden;
    overflow-wrap: break-word;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px; 
}

header,
footer {
    background-color: var(--main-color);
    color: white;
    padding: 1em 0;
    text-align: center; 
}

section {
    align-items: center;
    background-color: var(--bg-color);
    text-decoration: none;
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 1em;
}

nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: black;
}

main {
    padding: 1em;
    text-align: center;
}

div {
    margin: 2em;
}

fieldset {
    border: 0 none;
}

article {
    margin: 1.3em;
}

#logtext {
    max-width: 20%;
    padding: 1em;
    height: auto;
    display: block;
    margin: 0 auto; 
}

#logo {
    max-width: 10%;
    padding: 1em;
    height: auto;
    display: block;
    margin: 0 auto;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

#logo:hover {
    transform: rotate(6.284rad);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);

}

.md {
    text-align: center;
    align-items: center;
}

.animation_menu {
    text-align: center;
    font-weight: 100;
    font-size: large;
}

.animation_menu * {
    font-family: 'Montserrat';
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
}

.animation_menu li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 1.5em;
    padding: 0;
}

.animation_menu a {
    padding: 0.5em 0;
    color: rgb(188, 39, 111);
    position: relative;
    letter-spacing: 0.2%;
    text-decoration: none;
}

.animation_menu a:before,
.animation_menu a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.animation_menu a:before {
    bottom: 0;
    display: block;
    height: 5%;
    width: 0%;
    content: "";
    text-decoration: none;
    background-color: #2e2f30;
}

.animation_menu a:after {
    left: 0;
    top: 0;
    text-decoration: none;
    padding: 0.5em 0;
    position: absolute;
    content: attr(data-hover);
    color: #7f2424;
    max-width: 0%;
    overflow: hidden;
}

.animation_menu a:hover:before,
.animation_menu .current a:before {
    opacity: 0.7;
    width: 100%;
}

.button {
    filter: blur(0.05rem);
    background: linear-gradient(to right, #667eea, #764ba2);
    color: white;
    font-size: 1.2em;
    font-family: 'Soyuz Grotesk Bold';
    text-decoration: none;
    padding: 0.75em 1.5em; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-position 0.5s ease;
    background-size: 200% auto;
    display: inline-block;
    margin: 0.5em;
    width: auto; 
}

.button:hover {
    filter: blur(0);
    background-position: right center;
}

h1 {
    font-family: 'Vetrino';
    font-size: 3em;
    text-align: center;
    background: linear-gradient(90deg, #007bff, #ff3399, #007bff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradientAnimation 8s linear infinite;
}

h2,
h3 {
    font-family: 'Vetrino';
}

h2 {
    font-size: 2.5em;
    text-align: center;
}

h3 {
    text-decoration: underline;
    color: #764ba2;
    font-size: 1.5em;
    text-align: left;
}

small,
p {
    font-family: 'Montserrat';
}

p {
    font-size: 1.2em;
    text-align: center;
    line-height: 1.6; 
}


form,
footer p,
section p {
    font-size: 1.2em;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}

.profile-image {
    width: 15%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #fff;
    box-shadow: 0 0 35px rgb(255, 0, 123);
    margin-bottom: 1em;
}



/* IPhone X */
@media (max-width: 375px) {
    body {
        font-size: 14px;
    }

    header, footer {
        padding: 0.75em 0;
    }

    section {
        margin: 0.5em;
    }

    h1 {
        font-size: 2em; 
    }

    h2 {
        font-size: 1.5em;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav li {
        margin: 0.5em 0;
    }

    .animation_menu li {
        margin: 0 0.5em;
    }

    .animation_menu * {
        font-size: 1.2em;
    }

    .button {
        width: 90%; 
        font-size: 1em;
        padding: 0.5em 1em;
        margin: 0.5em auto;
        display: block;
        text-align: center;
    }

    #logtext {
        max-width: 50%;
    }

    #logo {
        max-width: 25%;
    }

    p {
        font-size: 1em;
        text-align: left;
    }

    form,
    footer p,
    section p {
        font-size: 1em;
    }

    .profile-image {
        width: 50%;
    }
}

/* IPad Pro*/
@media (min-width: 376px) and (max-width: 1367px) and (min-height: 813px) and (max-height: 1025px) {
    body {
        font-size: 16px;
    }

    #logtext {
        max-width: 15%;
        padding: 1em;
    }

    #logo {
        max-width: 10%;
        padding: 1em;
    }

    .button {
        width: 200px;
    }
}

/* Desktops */
@media (min-width: 1600px) and (min-height: 1025px) {
    body {
        font-size: 30px; 
    }

    #logtext {
        max-width: 15%;
    }

    #logo {
        max-width: 10%;
    }

    .button {
        font-size: 1.3em;
        padding: 0.9em 1.75em;
    }

    p {
        font-size: 1.4em;
    }

    form,
    footer p,
    section p {
        font-size: 1.4em;
    }

    .profile-image {
        width: 12%; 
    }
}
